﻿@model InwentaryzacjaXAplikacja.Models.Order


<h1>Formularz dodający produkt do listy magazynowej</h1>
@*
@Html.Partial("_AddProductFormAdd", Model)

*@

<form asp-action="Add" method="POST" class="needs-validation mt-4" novalidate>
    <div class="form-group">
        <label asp-for="Name">Nazwa produktu</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Code"> Kod produktu</label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Liczba na stanie</label>
        <input class="form-control" type="number" asp-for="Quantity" />
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Kategoria</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="ViewBag.CategoryData" id="CategoryId" ></select>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>