﻿@model InwentaryzacjaXAplikacja.Models.Order


<h1>Formularz dodający kategorię</h1>

<form asp-action="AddCategory" method="POST">
    <div class="form-group">
        <div class="form-group mt-4">
            <label asp-for="Name">Nazwa kategorii</label>
            <input class="form-control" asp-for="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-primary"/>
    </div>
</form>

<h1>Formularz usuwajacy kategorię</h1>

<form asp-action="RemoveCategory" method="POST" class="needs-validation" novalidate>

    <div class="form-group mt-4">
        <label asp-for="CategoryId" class="control-label">Kategoria</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="ViewBag.CategoryData" id="CategoryId" ></select>
    </div>
    <button type="submit" class="btn btn-primary" onclick="">Usuń</button>
</form>

