﻿@using Microsoft.AspNetCore.Identity
@model InwentaryzacjaXAplikacja.Models.Order
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Home Page";
    var urlGive = ViewBag.UrlGive;
}

    <form asp-action="Create">
        <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kategoria</label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="ViewBag.CategoryData"
                        id="CategoryId" onchange="loadProduct(this)"></select>
            </div>
        <div class="form-group">
            <label asp-for="ProductId" class="control-label">Produkt</label>
            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductData" id="ddlProductId"></select>
        </div>
            <div class="form-group">
                <label asp-for="QuantityBody">Ilość spisana</label>
                <input class="form-control" asp-for="QuantityBody" />
                <span asp-validation-for="QuantityBody"></span>
            </div>
        <div class="form-group">
            <input type="submit" value="Wprowadź produkt" class="btn btn-primary"/>
        </div>
    </form>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var a = 0;
        });

        function loadProduct(obj) {            
            var value = obj.value;
            var url = "@urlGive";
            
            $.post(url + "Product/GetProductsByCategoryId", { categoryId: value }, function (data) {
                debugger;
                Give("#ddlProductId", data);
            });
        }

        function Give(Id, list, sId) {
            $(Id).empty();
            $(Id).append("<option>--Wybierz produkt--</option>")
            $.each(list, function (index, row) {
                $(Id).append("<option value='" + row.id + "'>" + row.name + "</option>")
            });
        }
    </script>
}