﻿@model InwentaryzacjaXAplikacja.Models.Product
<h1>Formularz pozwalający na edytowanie wybranego produktu</h1>
<form asp-action="Edit" method="POST" class="needs-validation mt-4" novalidate>
    <div class="form-group">
        <label asp-for="Name">Nazwa produktu</label>
        <input class="form-control" asp-for="Name" value= "@Model.Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Code"> Kod produktu</label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Liczba na stanie</label>
        <input class="form-control" type="number" asp-for="Quantity" />
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Kategoria</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="ViewBag.CategoryData" id="CategoryId" ></select>
    </div>
    <button type="submit" class="btn btn-primary">Zmień</button>
</form>