﻿@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<ProductViewModel>

@*@{
    var z = 1;
}*@
    
<html>
<h1>Lista produktów</h1>

@*<ol>
    @foreach (var product in Model)
    {
        <li>
            <b>@product.Name</b> - <b>@product.Category</b>
            <a href="@Url.Action("Details","Warehouse", new {Id = product.Id})">Szczegóły</a>
            @using (Html.BeginForm("Delete", "Warehouse", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="@product.Id"/>
                <button type="submit">Usuń</button>                                        
            }
        </li>
    }

</ol>
*@
<table class="table table-bordered mt-4">
    <thead>
    <tr>
        @*        <th scope="col">Id produktu</th>*@
            <th scope="col" style="text-align: center">Nazwa produktu</th>
        <th scope="col" style="text-align: center">Stana magazynowy</th>
        <th scope="col" style="text-align: center">Stana zgodny z inwentaryzacją</th>
        <th scope="col" style="text-align: center">Różnica inwentaryzacyjna</th>
        <th scope="col" style="text-align: center" >Usuń produkt z listy</th>
        <th scope="col" style="text-align: center" >Edytuj produkt</th>
    </tr>
    </thead>
    <tbody>



    @foreach (var product in Model)
    {
        <tr>
            <td style ="text-align: center">@product.Name</td>
            <td style="text-align: center">@product.Quantity</td>
            <td style="text-align: center">@product.InventoryQuantity</td>
            
            @if (@product.InventoryQuantity.Contains("brak inwentaryzacji"))
            {
                <td style="text-align: center; color:black">brak inwentaryzacji</td>
            }
            else{
                if(@product.InventoryDifference < 0)
                {
                    <td style="text-align: center; color: red">@product.InventoryDifference</td>
                }
                else
                {
                        <td style="text-align: center; color: greenyellow" >@product.InventoryDifference</td>
                }
            }
            <td style="text-align: center">
                @using (Html.BeginForm("Delete", "Warehouse", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@product.Id"/>
                    <button type="submit" class="btn btn-primary" >Usuń</button>
                }
            </td>
            <td style="text-align: center">
                <a href="@Url.Action("Edit", "Warehouse", new { Id = product.Id})">Edytuj</a>
            </td>
        </tr>
    }
    </tbody>
    
    
    <a href="@Url.Action("ExportToExcel", "Warehouse")">Exportuj dane do excela</a>
</table>
</html>