﻿@{
    ViewData["Title"] = "Warehouse - error";
}


<div class="container mt-7">
    <h1 class="jumbotron-heading mt-5">Popełniono błąd. Podjęto próbę usunięcia kategorii która zawiera produkty</h1>
    </div>

