﻿@{
    ViewData["Title"] = "Home Page";
}

<form enctype="multipart/form-data" method="post" asp-controller="ExcelData" asp-action="ImportExcel">
    <dl>
        <dt>
            <label>Importuj dane z excela</label>
        </dt>
        <dd>
            <input type="file" name="File" id="File">

        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Wprowadź dane" />
</form>
<br />
<p><b>Dane importowane poprzez excela powinny mieć poniższy format:</b></p>
<img src="~/images/Zestawienie_tabela_import_excela.jpg" class="img-fluid">
<div class="">
    @ViewBag.Message
</div>