﻿
@{
    ViewData["Title"] = "Produkt";
}


@if(!User.Identity.IsAuthenticated){

    <div class="container mt-7">
        <h1 class="jumbotron-heading mt-5">Witamy w aplikacji Inwentaryzacja 2.0</h1>
        <p class="lead text-muted">W celu rozpoczęcia pracy z aplikacją należy przejść do logowania</p>
    </div>
    <div class="container mt-4">
        <div class="col-md-4 px-0 mt-3 d-flex align-items-center justify-content-center mb-4">
            <img src="~/images/login1.jpg" class="img-fluid">
        </div>
    </div>

}
@if (User.Identity.IsAuthenticated)
{

    <div class="container mt-7 ">
        <h1 class="jumbotron-heading mt-5">Jesteś zalogowany, możesz rozpocząć pracę.</h1>
    </div>
    <div class="container mt-7">
        <div class="col-md-4 px-0 mt-3 d-flex align-items-center justify-content-center mb-4">
            <img src="~/images/checklist1.jpg" class="img-fluid">
        </div>
    </div>
}
