﻿@model Login

<div class="container d-flex align-items-center justify-content-center mb-4">
    <div class="col-md-6 px-0">
        <img src="~/images/login3.jpg" class="img-fluid">
    </div>
</div>

<form asp-action="Login" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="UserName">Nazwa użytkownika</label>
        <input class="form-control" asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Hasło</label>
        <input class="form-control" asp-for="Password" type="password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="btn btn-primary">Logowanie</button>
</form>


@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}