﻿@model Register

<form asp-action="RegisterUser" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="UserName">Nazwa użytkownika</label>
        <input class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Adres e-mail</label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Hasło</label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="btn btn-primary">Rejestruj</button>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}

