﻿@model InwentaryzacjaXAplikacja.Models.Order

<form asp-action="Add" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Name">Nazwa produktu</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Kategoria</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="ViewBag.CategoryData"
                id="CategoryId" onchange="loadProduct(this)"></select>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>