﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inwentaryzacja 2.0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Inwentaryzacja 2.0</h5>
        <nav class="my-2 my-md-0 mr-md-3">

                <a class="p-2 text-dark" asp-area="" asp-controller="Warehouse" asp-action="AddSecondProduct">Dodaj kartę spisową</a>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="p-2 text-dark" asp-area="" asp-controller="Warehouse" asp-action="List">Lista produktów</a>
                    <a class="p-2 text-dark" asp-area="" asp-controller="Warehouse" asp-action="Add">Dodaj produkt</a>
                    <a class="p-2 text-dark" asp-area="" asp-controller="Warehouse" asp-action="AddCategory">Zarządzaj kategorią</a>
                    <a class="p-2 text-dark" asp-area="" asp-controller="ExcelData" asp-action="UploadExcel">Import danych z excela </a>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="LogOut">Wyloguj</a>
                }
                else
            {

                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">Panel Administracyjny</a>
            }
        </nav>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Inwentaryzacja 2.0
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>